<!--
    Author's name: Nicholas Rowlandson & Tim Harasym
    Date  Modified: Thursday, August 19th, 2016
    Version: 0.0.3
    File: IndeAddressAndPayment.cshtml
-->
@model COMP2007_FinalProject_HastyTaste.Models.Order

@{
    ViewBag.Title = "AddressAndPayment";
}
<div class="spacer"></div>
<div class="container">
    <div class="menu-container">
        @using (Html.BeginForm())
        {

            <h2>Address And Payment</h2>
            <fieldset>
                <legend>Shipping Information</legend>
                @Html.EditorForModel()
            </fieldset>
            <fieldset>
                <legend>Payment</legend>
                <p>
                    We're running a promotion: all music is free
                    with the promo code: "FREE"
                </p>
                <div class="editor-label">
                    @Html.Label("Promo Code")
                </div>
                <div class="editor-field">
                    @Html.TextBox("PromoCode")
                </div>
            </fieldset>

            <input type="submit" value="Submit Order" />
        }
    </div>
</div>