@{
    ViewBag.Title = "Contact Us!";
}
<div class="spacer"></div>
<div class="container body-content contact">
    <h2>@ViewBag.Title</h2>
    <div class="container">
        <h3>Address</h3>
        <address>
            1 Georgian Dr, Barrie ON<br />
            L4M 3X9<br />
            Canada<br />
            <abbr title="Phone">Phone:</abbr>
            123.456.7890
        </address>
        <address>
            <strong>Email:</strong>   <a href="mailto:timharasym2@gmail.com">timharasym2@gmail.com</a><br />
        </address>

        <div class="contact-map">
            <h3>Get Directions</h3>
            <hr />
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Georgian+College&amp;output=embed"></iframe><br />
            <div class="clear"></div>
        </div>

        <div class="social-media">
            <h3>Stay Connected</h3>
            <hr />
            <a target="_blank" href="https://twitter.com/?lang=en"><i class="fa fa-twitter-square fa-1x"></i> Twitter</a><br />
            <a target="_blank" href="https://facebook.com"><i class="fa fa-facebook-square fa-1x"></i> Facebook</a><br />
            <a target="_blank" href="https://instagram.com"><i class="fa fa-instagram fa-1x"></i> Instagram</a><br />
        </div>
    </div>
</div>
<div class="spacer"></div>
<div class="spacer"></div>
