<!--
    Author's name: Nicholas Rowlandson & Tim Harasym
    Date  Modified: Thursday, August 19th, 2016
    Version: 0.0.3
    File: Index.cshtml
-->
@{
    ViewBag.Title = "Home Page";
}
<div class="banner">
    <div class="container">
        
        <div class="banner-text"><p> <i>"Best sandwiches in the Barrie area! You won't regret your trip to Hasty Taste."</i><br /><b> - John Doe</b></p></div>
    </div>
</div>

    <div class="container">
        <br />
        <div class="content-holder">
            <h1>Hasty Taste</h1>
            <p class="lead">We serve a variety of sandwiches!</p><br />
            <a class="minibutton" href="/MenuItems">Check Out Our Menu</a>
        </div>
    </div>

