<!--
    Author's name: Nicholas Rowlandson & Tim Harasym
    Date  Modified: Thursday, August 19th, 2016
    Version: 0.0.3
    File: Menu.cshtml
-->
@{
    ViewBag.Title = "Menu";
}
<div class="container body-content">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Check out our hasty taste.</p>
</div>